<section class="title--section" >
  <h3 class="title" >All Employees</h3>
</section>

<section class="main--table">
    <section class="table-fns" >
        <div class="row fns--row">          
          <div class="input-group col-sm-12 col-lg-4">              
              <input class="form-control" 
                    placeholder="Search Employee Name..."
                    [formControl]="searchTerm"
                    type="text" />            
            
            <!-- 
              * the below commented code is for trigerring the search manually ie through a button.
             -->
            <!-- <div class="input-group-append">
              <button (click)="searchfns()" (keyup.enter)="searchfns()"  class="btn btn-outline-secondary" type="button" id="button-addon2">Enter</button>
            </div> -->
          </div>
          <div class="btn--row col-sm-10 col-lg-8">
            <button type="button" 
                    class="btn btn-dark fns" 
                    (click)="filterExp(2)" 
                    ngbTooltip="Show only employees with experience above 2 years">Display Experienced</button>
            <button type="button" 
                    class="btn btn-info fns"
                    (click)="displaySummary()"
                    ngbTooltip="Get a list of all departments and the employees within each" >Get Summary</button>
            <button type="button" 
                    class="btn btn-danger fns" 
                    (click)="removeEmp('Development')"
                    ngbTooltip="Remove all employees from 'Development' department" >Remove Devs</button>
            <button type="button" 
                    class="btn btn-success fns" 
                    (click)="resetArr()"
                    ngbTooltip="Get the original list of employees" >Reset</button>
          </div>
          
        </div>          
      </section>
    <table class="table table-striped table--height">
        <thead>
        <tr>
          <th scope="col">
            <span class="sort--icons" (click)="sortEmp('id', 1)" >
                ID
            </span>
        </th>
          <th scope="col">
              <div class="sortable--head" >
                Name
                <div class="sort--icons">
                    <div class="sort--up" (click)="sortEmp('name', 1)" >
                      <svg-icon src="assets/icons/down.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
                    </div>
                    <div class="sort--down" (click)="sortEmp('name', 0)" >   
                      <svg-icon src="assets/icons/up.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
                    </div>
                    
                </div>
              </div> 
            </th>
          <th scope="col">Department</th>
          <th scope="col">
              <div class="sortable--head">
                Joining Date
                <div class="sort--icons">
                    <div class="sort--up" (click)="sortEmp('totalExp', 1)">
                        <svg-icon src="assets/icons/down.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
                    </div>
                    <div class="sort--down" (click)="sortEmp('totalExp', 0)">   
                      <svg-icon src="assets/icons/up.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
                    </div>
                    
                </div>
              </div>
                            
          </th>
          <ng-template [ngIf]="expFilterFlag" >
            <th> Years of Experience</th>
          </ng-template>
          <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
          <ng-template [ngIf]="displayEmployees.length >0" >
            <tr *ngFor="let employee of displayEmployees">
              <th scope="row">{{ employee.id }}</th>
              <td>        
                {{ employee.name }}
              </td>
              <td>{{ employee.department }}</td>
              <td>{{ employee.joining_date | date}}</td>
              <ng-template [ngIf]="expFilterFlag" >
                <td> {{employee.exp_years}} </td>
              </ng-template>
              <td>
                <a [routerLink]="['/employee', employee.id]">
                  <button type="button" class="btn btn-primary">View</button>
                </a>            
              </td>
            </tr>
          </ng-template>
          <ng-template [ngIf]="!displayEmployees.length" >
            No Results Found!
          </ng-template>
        </tbody>
      </table>      
</section>


<!-- Employee summary Modal-->
<ng-template #summaryContent let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Employee Summary</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Departments</th>
          <th> No. of Employees </th>
        </tr>
      </thead>
      <tbody>
        
          <tr *ngFor="let summaryObj of summaryArr" >
            <td> {{ summaryObj.dept }} </td>
            <td> {{ summaryObj.num_emp }} </td>
          </tr>
        
      </tbody>
    </table>  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
