.title--section {
    width: 75%;
    margin: auto;
    padding: 20px 0px 0px;
}

.main--table {
    width: 75%;
    margin: auto;
    padding: 20px 0px;
}

.table--height {
    height: 100px;
    overflow-y:hidden;
}

.sortable--head {
    display: flex;
}

.sort--icons {
    display: flex;
    cursor: pointer;
}

.fns--row {    
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
}

.search--fns {
    margin: 10px 10px;
}

.btn--row {
    margin-left: 10px 10px;
}

.fns:not(:first-of-type) {
    margin: 0px 10px 0px;
}