<section class="title--section" >
  <h3 class="title" >All Employees</h3>
</section>

<section class="main--table">
    <section class="table-fns" >
        <div class="row fns--row">          
          <div class="input-group col-sm-12 col-lg-4">            
            <input class="form-control" 
                    placeholder="Search Employee Name..." 
                    [(ngModel)]="searchTerm"
                    (keyup)="searchfns()"
                    type="text" />
            <!-- <div class="input-group-append">
              <button (click)="searchfns()" (keyup.enter)="searchfns()"  class="btn btn-outline-secondary" type="button" id="button-addon2">Enter</button>
            </div> -->
          </div>
          <div class="row btn--row">
            <button type="button" class="btn btn-dark fns" (click)="filterExp(2)" >Display Experienced</button>
            <button type="button" class="btn btn-info fns">Get Counts</button>
            <button type="button" class="btn btn-danger fns" (click)="removeEmp('Development')" >Remove Devs</button>
            <button type="button" class="btn btn-success fns" (click)="resetArr()" >Reset</button>
          </div>
          
        </div>          
      </section>
    <table class="table table-striped table--height">
        <thead>
        <tr>
          <th scope="col">
            <span class="sort--icons" (click)="sortEmp('id', 1)" >
                ID
            </span>
        </th>
          <th scope="col">
              <div class="sortable--head" >
                Name
                <div class="sort--icons">
                    <div class="sort--up" (click)="sortEmp('name', 1)" >
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </div>
                    <div class="sort--down" (click)="sortEmp('name', 0)" >   
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </div>
                    
                </div>
              </div> 
            </th>
          <th scope="col">Department</th>
          <th scope="col">
              <div class="sortable--head">
                Joining Date
                <div class="sort--icons">
                    <div class="sort--up" (click)="sortEmp('totalExp', 1)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </div>
                    <div class="sort--down" (click)="sortEmp('totalExp', 0)">   
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </div>
                    
                </div>
              </div>
                            
          </th>
          <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
          <ng-template [ngIf]="displayEmployees.length >0" >
            <tr *ngFor="let employee of displayEmployees">
              <th scope="row">{{ employee.id }}</th>
              <td>        
                {{ employee.name }}
              </td>
              <td>{{ employee.department }}</td>
              <td>{{ employee.joining_date | date}}</td>
              <td>
                <a [routerLink]="['/employee', employee.id]">
                  <button type="button" class="btn btn-primary">View</button>
                </a>            
              </td>
            </tr>
          </ng-template>
          <ng-template [ngIf]="!displayEmployees.length" >
            No Results Found!
          </ng-template>
        </tbody>
      </table>      
</section>

